################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Rhythm/.vs
/Rhythm/Rhythm/bin
/Rhythm/Rhythm/obj
/Rhythm/Rhythm/obj/Debug
